
@font-face {font-family: "baobo";
  src:  url('../fonts/iconfont.ttf?t=1478613816375') format('truetype');/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.baobo-icon {
  font-family:"baobo" !important; 
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}


.icon-hongwai:before { content: "\e60e"; }

.icon-gonglu:before { content: "\e600"; }

.icon-iconketing:before { content: "\e601"; }

.icon-chuanglian:before { content: "\e60f"; }

.icon-tianjia:before { content: "\e60d"; }

.icon-jiankong:before { content: "\e610"; }

.icon-chuang:before { content: "\e602"; }

.icon-ertongleyuan:before { content: "\e603"; }

.icon-icon8:before { content: "\e604"; }

.icon-chufang:before { content: "\e605"; }

.icon-keyongweiyu:before { content: "\e606"; }

.icon-dianshi:before { content: "\e611"; }

.icon-deng:before { content: "\e612"; }

.icon-vidicon:before { content: "\e60c"; }

.icon-weiyu:before { content: "\e608"; }

.icon-kongtiao:before { content: "\e613"; }

.icon-canting:before { content: "\e609"; }

.icon-Socket:before { content: "\e614"; }

.icon-balcony:before { content: "\e60b"; }

.icon-ertong:before { content: "\e60a"; }




.mui-content, body{background: #FFF !important;}
.mui-grid-view.mui-grid-9 .mui-table-view-cell.mui-active{background-color: #F3F3F3 !important;}
