
@font-face {font-family: "sensors";
  src:  url('../fonts/iconfont.ttf?t=1481638470692') format('truetype');
}

.baobo-icon {
  font-family:"sensors" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}

.sensor-hongwai:before { content: "\e60e"; }

.sensor-center:before { content: "\e617"; }

.sensor-gonglu:before { content: "\e600"; }

.sensor-switch:before { content: "\e61e"; }

.sensor-set:before { content: "\e69f"; }

.sensor-iconketing:before { content: "\e601"; }

.sensor-chuanglian:before { content: "\e60f"; }

.sensor-tianjia:before { content: "\e60d"; }

.sensor-bofang:before { content: "\e618"; }

.sensor-jiankong:before { content: "\e610"; }

.sensor-yunzhuji:before { content: "\e61c"; }

.sensor-chuang:before { content: "\e602"; }

.sensor-ertongleyuan:before { content: "\e603"; }

.sensor-icon8:before { content: "\e604"; }

.sensor-dingshi:before { content: "\e674"; }

.sensor-xiangce:before { content: "\e67a"; }

.sensor-chufang:before { content: "\e605"; }

.sensor-keyongweiyu:before { content: "\e606"; }

.sensor-infrared:before { content: "\e607"; }

.sensor-shengji:before { content: "\e63d"; }

.sensor-dianshi:before { content: "\e611"; }

.sensor-deng:before { content: "\e612"; }

.sensor-vidicon:before { content: "\e60c"; }

.sensor-weiyu:before { content: "\e608"; }

.sensor-kongtiao:before { content: "\e613"; }

.sensor-canting:before { content: "\e609"; }

.sensor-Socket:before { content: "\e614"; }

.sensor-balcony:before { content: "\e60b"; }

.sensor-ertong:before { content: "\e60a"; }

.sensor-lamp:before { content: "\e62e"; }

.sensor-humidity:before { content: "\e689"; }

.sensor-smoke:before { content: "\e68b"; }

.sensor-light:before { content: "\e690"; }

.sensor-human:before { content: "\e925"; }

.sensor-door:before { content: "\e927"; }

.sensor-gas:before { content: "\e615"; }

.sensor-yunpan:before { content: "\e666"; }

.sensor-temp:before { content: "\e616"; }

.sensor-chongqi:before { content: "\e66d"; }




.mui-content, body{background: #FFF !important;}
.mui-grid-view.mui-grid-9 .mui-table-view-cell.mui-active{background-color: #F3F3F3 !important;}
#app{width:100%;height:100%;}



.m0{margin: 0 !important;}
.m-t10{margin-top:10px !important;}
.c-fff{background: #FFF !important;}

.room-img{background-position: center !important;}
/*房间图标*/
.room-main{background: url(../images/rooms_main.png) no-repeat center center !important;}
.room-ciwo{background: url(../images/rooms_ciwo.png) no-repeat center center !important;}
.room-keting{background: url(../images/rooms_keting.png) no-repeat center center !important;}
.room-gongyongyushi{background: url(../images/rooms_ekyongyushi.png) no-repeat center center !important;}
.room-ertong{background: url(../images/rooms_ertong.png) no-repeat center center !important;}
.room-chufang{background: url(../images/rooms_chufang.png) no-repeat center center !important;}
.room-zoulang{background: url(../images/rooms_zoulang.png) no-repeat center center !important;}
.room-canting{background: url(../images/rooms_canting.png) no-repeat center center !important;}
.room-yushi{background: url(../images/rooms_xiyu.png) no-repeat center center !important;}
.room-active{background-color:#e5f8ff !important;}
.room-add:{position: relative;}
.room-add::after,.room-add::before{
	content: " ";
	position: absolute;
	background: #b8c8d8;
}
.room-add::after{
	
	width:80%;
	height: 2px; 
	
	top:50%;
	transform: translateX(-50%);
	
}
.room-add::before{
	width:2px;
	height:80%;
	top:50%;
	transform: translateY(-50%);
}
.room-box.mui-grid-view.mui-grid-9 .mui-table-view-cell{padding:2rem 15px !important;}
.room-box.mui-grid-view.mui-grid-9 .mui-table-view-cell.mui-active{background-color:transparent !important;} 


.lightTP-droplight{background:url(../images/droplight.png) no-repeat 10px center;}
.lightTP-wall{background:url(../images/wall.png) no-repeat 10px center;}
.lightTP-tube{background:url(../images/tube.png) no-repeat 10px center;}
.lightTP-spotlight{background:url(../images/spotlight.png) no-repeat 10px center;}
.lightTP-backlight{background: url(../images/backlight.png) no-repeat 10px center;}
.lightTP-bedside{background: url(../images/bedside.png) no-repeat 10px center;}
.lightTP-mirror{background: url(../images/mirror.png) no-repeat 10px center;}
.lightTP-ceiling{background: url(../images/ceiling.png) no-repeat 10px center;}

 

.curtain-btn{display: block;width:45px;height: 45px;margin:0 auto;}
.curtain-open{background: url(../images/air-condition-open.png) no-repeat center center / 78% #fdc941 ; }
.curtain-pause{background: url(../images/air-condition-pause.png) no-repeat center center / 49% #fdc941 ;}
.curtain-close{background: url(../images/air-condition-close.png) no-repeat center center / 78% #fdc941 ;}

.curtain-1:before { content: "\e60f"; }
.curtain-2:before { content: "\e60f"; }


