<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../../css/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/common.css" />
		<style type="text/css">
			.botton-trigger {
				color: #FFF;
				background-color: #9e6232;
				/*9e6232 */
				padding-top: 35px;
				padding-bottom: 35px;
				font-size: 30px;
			}
			
			.botton-trigger:active {
				background: #be5500 !important;
			}
			
			.botton-trigger.light-active {
				background: #be5500 !important;
			}
			
			.bor-left-0 {
				border-left: none !important;
			}
			
			.bor-right-0 {
				border-right: none !important;
			}
			
			.bottom-line::after {
				position: absolute;
				right: 0;
				top: 50%;
				height: 60%;
				content: ".";
				width: 1px;
				background-color: #d89662;
				transform: translateY(-50%);
			}
			
			.type-trigger.mui-table-view:before {
				top: 0;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">设备操作</h1>
			</header>

			<div class="mui-content">
				<!--v-if="triggerInfo.DEV == 'button'"getTemplateType --> 
				<type-button v-bind:trigger="triggerInfo" v-bind:buttons="buttonSort" v-if="templateType == 'lightTP'|| templateType == 'sensor'"></type-button>
				<air-condition v-bind:trigger="triggerInfo" v-bind:buttons="buttonSort" v-if="templateType == 'airCondition'"></air-condition>
				<curtain-type-1 v-bind:trigger="triggerInfo" v-bind:buttons="buttonSort" v-if="templateType == 'curtain' && getTemplateType('1') == '1'"></curtain-type-1>
				<curtain-type-2 v-bind:trigger="triggerInfo" v-bind:buttons="buttonSort" v-if="templateType == 'curtain' && getTemplateType('1') == '2'"></curtain-type-2>
			</div>

		</div> 
		<script type="text/x-template" id="button_type">
			<div>
				<ul style="margin-top: 10px;" class="mui-table-view type-trigger">
					<li class="mui-table-view-divider">{{trigger.DEVICENAME}}</li>
				</ul>
				<div class="mui-content-padded">

					<div class="mui-row">
						<div class="mui-col-sm-6 mui-col-xs-6">
							<a href="javascript:void(0);" @tap="open_close('1')" :class="{'light-active':lightClass.classOpen}" class="mui-btn bor-right-0 mui-btn-block botton-trigger bottom-line ">开</a>
						</div>
						<div class="mui-col-sm-6 mui-col-xs-6">
							<a href="javascript:void(0);" @tap="open_close('0')" :class="{'light-active':lightClass.classClose}" class="mui-btn bor-left-0 mui-btn-block botton-trigger">关</a>
						</div>
					</div>
				</div>
			</div>

		</script>
		<template id="airCondition">
			<div class="mui-content-padded">
				<div class="mui-col-sm-3 mui-col-xs-3">
					<a href="javascript:void(0);" @tap="open_close('1')" class="mui-btn bor-right-0 mui-btn-block botton-trigger bottom-line ">开</a>
				</div>
				<div class="mui-col-sm-3 mui-col-xs-3">
					<a href="javascript:void(0);" @tap="open_close('0')" class="mui-btn bor-left-0 mui-btn-block botton-trigger">关</a>
				</div>
				<div class="mui-col-sm-3 mui-col-xs-3">
					<a href="javascript:void(0);" @tap="open_close('0')" class="mui-btn bor-left-0 mui-btn-block botton-trigger">关</a>
				</div>
			</div>
		</template>
		<template id="curtain-1">
			<div>
				<ul style="margin-top: 10px;" class="mui-table-view type-trigger">
					<li class="mui-table-view-divider">{{trigger.DEVICENAME}}</li>
				</ul>

				<div class="mui-content-padded">
					<div class="mui-row">
						<div class="mui-col-sm-4 mui-col-xs-4">
							<a class="curtain-btn curtain-open" @tap="curtainOpen('1')"></a>
							<p class="mui-text-center m-t10">打开</p>
						</div>
						<div class="mui-col-sm-4 mui-col-xs-4">
							<a class="curtain-btn curtain-pause" @tap="curtainPause('2')"></a>
							<p class="mui-text-center m-t10">暂停</p>
						</div>
						<div class="mui-col-sm-4 mui-col-xs-4">
							<a class="curtain-btn curtain-close" @tap="curtainClose('0')"></a>
							<p class="mui-text-center m-t10">关闭</p>
						</div>
					</div>
				</div>
			</div>

		</template>
		<template id="curtain-2">
			<div>
				<ul style="margin-top: 10px;" class="mui-table-view type-trigger">
					<li class="mui-table-view-divider">第一轨道设置</li>
				</ul>

				<div class="mui-content-padded">
					<div class="mui-row">
						<div class="mui-col-sm-4 mui-col-xs-4">
							<a class="curtain-btn curtain-open" @tap="curtainOpen('0')"></a>
							<p class="mui-text-center m-t10">打开</p>
						</div>
						<div class="mui-col-sm-4 mui-col-xs-4">
							<a class="curtain-btn curtain-pause" @tap="curtainPause('1')"></a>
							<p class="mui-text-center m-t10">暂停</p>
						</div>
						<div class="mui-col-sm-4 mui-col-xs-4">
							<a class="curtain-btn curtain-close" @tap="curtainClose('2')"></a>
							<p class="mui-text-center m-t10">关闭</p>
						</div>
					</div>
				</div>
				<ul style="margin-top: 10px;" class="mui-table-view type-trigger">
					<li class="mui-table-view-divider">第二轨道设置</li>
				</ul>

				<div class="mui-content-padded">
					<div class="mui-row">
						<div class="mui-col-sm-4 mui-col-xs-4">
							<a class="curtain-btn curtain-open" @tap="curtainOpen('3')"></a>
							<p class="mui-text-center m-t10">打开</p>
						</div>
						<div class="mui-col-sm-4 mui-col-xs-4">
							<a class="curtain-btn curtain-pause" @tap="curtainPause('4')"></a>
							<p class="mui-text-center m-t10">暂停</p>
						</div>
						<div class="mui-col-sm-4 mui-col-xs-4">
							<a class="curtain-btn curtain-close" @tap="curtainClose('5')"></a>
							<p class="mui-text-center m-t10">关闭</p>
						</div>
					</div>
				</div>
			</div>

		</template>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/reconnecting-websocket.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();
			var trigger, ws,self;
			mui.plusReady(function() {
				self = plus.webview.currentWebview();
				self.addEventListener("hide",function(){
					self.reload(true);
				},false);
			})

			mui.ready(function() {
				vueComponents();
				initVue();
				initWebsocket();
			})

			function initVue() {
				trigger = new Vue({
					el: "#app",
					data: {
						triggerInfo: '',
						typeName: "",
						buttonSort:{}
					},
					computed: {
						templateType: function() {
							if(!this.triggerInfo) return false;
							/*return this.triggerInfo.roomPic.split("-")[0]*/
							var buttonSort = {};
							var temArr = this.triggerInfo.BUTTON;
							for(var i =0,len = temArr.length;i<len;i++){
								if(temArr[i].BUTTONINDEX == i){
									buttonSort[temArr[i].BUTTONINDEX.toString()] = temArr[i].BUTTONID
								}
							}
							this.buttonSort = buttonSort;
							return this.triggerInfo.DEVICEPIC.split("-")[0];

						},
						buttonIndex:function(){
							if(!this.triggerInfo) return false;
							var buttonSort = {};
							var temArr = this.triggerInfo.BUTTON;
							for(var i =0,len = temArr.length;i<len;i++){
								if(temArr[i].BUTTONINDEX == i){
									buttonSort[temArr[i].BUTTONINDEX.toString()] = temArr[i].BUTTONID
								}
							}
							return buttonSort;
							
						}
					},
					methods: {
						getTemplateType: function(num) {
							parseInt(num);
							if(!this.triggerInfo) return false;
							var type = this.triggerInfo.DEVICEPIC.split("-");
							if(num > type.length) {
								return false;
							}

							return type[num];
						}
					},
					components: {
						"type-button": {
							template: "#button_type",
							props: ['trigger','buttons'],
							data: function() {
								return {
									info: this.trigger,
									lightClass: {
										classOpen: false,
										classClose: false
									},
									buttonInfo:this.buttons
								}
							},
							methods: {
								open_close: function(num) {
									if(parseInt(num)) {
										this.lightClass.classOpen = true;
										this.lightClass.classClose = false;
									} else {
										this.lightClass.classOpen = false;
										this.lightClass.classClose = true;
									}
									account = JSON.parse(localStorage.getItem("account"));
								/*	var message = '#{"CMD": "trig","DEV": "' + this.info.type.split("_")[1] + '","DEVID": "' + (this.info.deviceID + num) + '","TAG":"trigger_button","USERID":"' + account.currentID + '","NICKNAME":"","TYPE":"' + os + '"}*'*/
									var message = '#{"CMD": "trig","DEV":"' + this.info.DEV + '","DEVID":"' + this.buttonInfo[num.toString()]  + '","TAG":"trigger_button","USERID":"' + account.currentID + '","NICKNAME":"","TYPE":"' + os + '"}*'
									console.log(message)
									ws.send(message)
								}
							}
						}
					}
				})
			}

			document.addEventListener("triggerInfo", function(e) {

				trigger.$data.triggerInfo = e.detail.item;
				console.log(JSON.stringify(trigger.$data.triggerInfo))
			}, false);

			function initWebsocket() {
				ws = new ReconnectingWebSocket("ws://123.56.176.67:9010/ws"); //开启长连接
				ws.onopen = function(e) {

				};
				ws.onmessage = function(e) {
					
					var data = dataDispose(e.data);
					console.log("学习  "+ JSON.stringify(data))
					if(data == CENTRT) {
						console.log("心跳") 
						ws.send(data);
						return;
					}
					
					switch(data.TAG) {
						case "trigger_button":
							plus.nativeUI.closeWaiting();
							if(errorDispose(data)) {
								mui.toast("成功")

							}

							break;
						case "trigger_button_curtain2_open":
							if(errorDispose(data)) {
								mui.toast("成功")

							}

							break;
						case "trigger_button_curtain2_pause":
							if(errorDispose(data)) {
								mui.toast("成功")

							}

							break;
						case "trigger_button_curtain2_close":
							if(errorDispose(data)) {
								mui.toast("成功")

							}

							break;
						default:
							break;
					}
				};
				ws.onerror = function(e) {

				}
				ws.onclose = function(e) {

				}
			}

			function vueComponents() {
				//空调
				Vue.component("air-condition", {
					template: "#airCondition",
					props: ['trigger','buttons'],
					data: function() {
						return {
							info: this.trigger,
							buttonInfo:this.buttons
						}
					},
					methods: {
						curtainOpen: function() { // 打开窗帘

						},
						curtainPause: function() { //暂停打开

						},
						curtainClose: function() { //关闭窗帘

						}
					}
				});
				//窗帘 单
				Vue.component("curtain-type-1", {
					template: "#curtain-1",
					props: ['trigger','buttons'],
					data: function() {
						return {
							info: this.trigger,
							buttonInfo:this.buttons
						}
					},
					methods: {

					}
				});
				//窗帘 双
				Vue.component("curtain-type-2", {
					template: "#curtain-2",
					props: ['trigger','buttons'],
					data: function() {
						return {
							info: this.trigger,
							buttonInfo:this.buttons
						}
					},
					methods: {
						curtainOpen: function(num) { // 打开窗帘
							account = JSON.parse(localStorage.getItem("account"));
							var message = '#{"CMD": "trig","DEV": "' + this.info.DEV + '","DEVID": "' + this.buttonInfo[num.toString()]  + '","TAG":"trigger_button_curtain2_open","USERID":"' + account.currentID + '","NICKNAME":"","TYPE":"' + os + '"}*'
							console.log(message)
							ws.send(message)
						},
						curtainPause: function(num) { //暂停打开
							account = JSON.parse(localStorage.getItem("account"));
							var message = '#{"CMD": "trig","DEV": "' + this.info.DEV + '","DEVID": "' + this.buttonInfo[num.toString()]  + '","TAG":"trigger_button_curtain2_pause","USERID":"' + account.currentID + '","NICKNAME":"","TYPE":"' + os + '"}*'
							console.log(message)
							ws.send(message)
						},
						curtainClose: function(num) { //关闭窗帘
							account = JSON.parse(localStorage.getItem("account"));
							var message = '#{"CMD": "trig","DEV": "' + this.info.DEV + '","DEVID": "' + this.buttonInfo[num.toString()]  + '","TAG":"trigger_button_curtain2_close","USERID":"' + account.currentID + '","NICKNAME":"","TYPE":"' + os + '"}*'
							console.log(message)
							ws.send(message)
						}
					}
				})
			}
		</script>
	</body>

</html>