<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>添加设备</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/addDevice.css" />
		<link rel="stylesheet" type="text/css" href="../../../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../../css/app.css" />
		<link rel="stylesheet" type="text/css" href="../../../../css/mui.picker.css" />
		<link rel="stylesheet" type="text/css" href="../../../../css/mui.poppicker.css" />
		<style>
			.mui-navigate-right {
				padding-left: 18px !important;
			}
			
			.deviceType.mui-active {
				background-color: transparent !important;
			}
			
			.mui-card {
				box-shadow: none;
				border: 1px solid #dedede;
			}
			
			.mui-card-content-inner {
				padding-left: 0;
				padding-right: 0;
			}
			
			.mui-input-row {
				border-top: 1px solid #dedede;
				padding-top: 15px;
			}
			
			.title {
				margin: 20px 15px 7px;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="css/feedback.css" />
	</head>

	<body class="mui-fullscreen">

		<!--页面主结构开始-->
		<div id="app" class="mui-views">
			<div class="mui-view">
				<div class="mui-navbar">
				</div>
				<div class="mui-pages">
				</div>
			</div>
		</div>
		<div id="addDevice">
			<!--页面主结构结束-->
			<!--单页面开始-->
			<div id="setting" class="mui-page">
				<!--页面标题栏开始-->
				<div class="mui-navbar-inner mui-bar mui-bar-nav">
					<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>
				</button>
					<h1 class="mui-center mui-title">添加设备</h1>
				</div>
				<!--页面标题栏结束-->
				<!--页面主内容区开始-->
				<div class="mui-page-content">
					<div class="mui-scroll-wrapper">
						<div class="mui-scroll">

							<ul class="mui-table-view mui-table-view-chevron addDevice" id="addType">
								<li class="mui-table-view-cell mui-radio mui-left lamp-1" data-addDevType="light" data-type='button'>
									<a href="#account" class="mui-navigate-right deviceType">单向开关</a>
								</li>

								<li class="mui-table-view-cell mui-radio mui-left socket-1" data-addDevType="socket" data-type='button'>
									<a href="#account" class="mui-navigate-right deviceType">单向插座</a>
								</li>

								<!--<li class="mui-table-view-cell mui-radio mui-left camera" data-addDevType="camera" data-type='button'>
									<a href="#account" class="mui-navigate-right deviceType">监控摄像头</a>
								</li>-->
								<li class="mui-table-view-cell mui-radio mui-left sensor" data-addDevType="sensor" data-type='sensor'>
									<a href="#sensor" class="mui-navigate-right deviceType">传感器</a>
								</li>
								<li class="mui-table-view-cell mui-radio mui-left curtain" data-addDevType="curtain" data-type='button'>
									<a href="#air-condition" class="mui-navigate-right deviceType">智能窗帘</a>
								</li>
								<!--<li class="mui-table-view-cell mui-radio mui-left air-condition" data-addDevType="air-condition" data-type='button'>
									<a href="#account" class="mui-navigate-right deviceType">智能空调</a>
								</li>
								<li class="mui-table-view-cell mui-radio mui-left TV" data-addDevType="TV" data-type='button'>
									<a href="#account" class="mui-navigate-right deviceType">电视</a>
								</li>-->
							</ul>

						</div>
					</div>
				</div>
				<!--页面主内容区结束-->
			</div>
			<!--单页面结束-->
			<div id="account" class="mui-page">
				<div class="mui-navbar-inner mui-bar mui-bar-nav">
					<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>添加设备
				</button>
					<h1 class="mui-center mui-title">单向开关</h1>
				</div>
				<div class="mui-page-content" style="background-color: #FFF;">
					<div class="page-main-name">
						<div class="mui-card">
							<div class="mui-card-content">
								<div class="mui-card-content-inner">
									<ul class="mui-table-view" style="margin-top:0;margin-bottom: 15px;">

										<li class="mui-table-view-cell" @tap="selectedClass">
											<a class="mui-navigate-right">
												<i class="clannName " :class="className"></i> 选择图标
											</a>
										</li>
									</ul>
									<div class="mui-input-row">
										<input type="text" v-model="devName" placeholder="请输入设备名" style="margin: 0;border:0;">
									</div>

								</div>
							</div>
						</div>
						<button type="button" @tap="submitDevice" class="mui-btn mui-btn-primary mui-btn-block">确定</button>
					</div>

				</div>
			</div>
			<div id="air-condition" class="mui-page">
				<div class="mui-navbar-inner mui-bar mui-bar-nav">
					<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>窗帘设置
				</button>
					<h1 class="mui-center mui-title">智能窗帘</h1>
				</div>
				<div class="mui-page-content" style="background-color: #FFF;">
					<div class="settingInfo">
						<p class="title">窗帘开关基本信息设置</p>
						<div class="mui-card" style="margin-bottom: 35px;">
							<ul class="mui-table-view m0">
								<li class="mui-table-view-cell">
									<a class="mui-navigate-right" v-text="pathwayName" @tap="curtainType">

									</a>
								</li>

							</ul>
						</div>
						<p class="title">窗帘开关基本信息设置</p>
						<div class="mui-content-padded" style="margin-bottom: 35px;">
							<div class="mui-input-row" style="border-top:0;padding-top:0;">
								<input type="text" v-model="devName" placeholder="请输入设备名">
							</div>
							<button type="button" @tap="submitDevice" class="mui-btn mui-btn-primary mui-btn-block">确定</button>
						</div>

					</div>

				</div>
			</div>
			<div id="sensor" class="mui-page">
				<div class="mui-navbar-inner mui-bar mui-bar-nav">
					<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>传感器设置
				</button>
					<h1 class="mui-center mui-title">传感器</h1>
				</div>
				<div class="mui-page-content" style="background-color: #FFF;">
					<div class="mui-content-padded">

						<button @tap="showPicketShow" style="font-size: 14px;color:#787878;" v-text="sensorName" class="mui-btn mui-btn-block" type='button'></button>

					</div>
					<p class="title">窗帘开关基本信息设置</p>
					<div class="mui-content-padded" style="margin-bottom: 35px;">
						<div class="mui-input-row" style="border-top:0;padding-top:0;">
							<input type="text" v-model="devName" placeholder="请输入设备名">
						</div>
						<button type="button" @tap="submitDevice" class="mui-btn mui-btn-primary mui-btn-block">确定</button>
					</div>
				</div>
			</div>
		</div>

	</body>
	<script src="../../../../js/mui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../../js/common.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="../../../../js/reconnecting-websocket.js" type="text/javascript" charset="utf-8"></script>-->
	<script src="../../../../js/zepto-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/addDevice.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/mui.view.js "></script>
	<script src="../../../../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
	<script>
		var userPicker;
		mui.init();
		//初始化单页view
		var viewApi = mui('#app').view({
			defaultPage: '#setting'
		});
		//初始化单页的区域滚动
		mui('.mui-scroll-wrapper').scroll();
		var account, self, opener;
		mui.plusReady(function() {
			account = JSON.parse(localStorage.getItem("account"));
			self = plus.webview.currentWebview();
			opener = self.opener();
			self.addEventListener("hide", function() {
				self.reload(true);
			}, false);
		});
		mui.ready(function() {
			initVue();
			initPicket();
			mui("#addType").on('tap', 'li', function() {
				addDevice.$data.devType = $(this).attr("data-type");
				addDevice.$data.addDevType = $(this).attr("data-addDevType")
			})
		});

		function initVue() {
			addDevice = new Vue({
				el: "#addDevice",
				data: {
					devName: "",
					className: "lightTP-droplight",
					devSort: '',
					roomName: "",
					devType: "",
					addDevType: "", //添加的设备,比如灯,窗帘    用于做判断
					pathway: 0, //   窗帘轨道  1  单轨,2双轨
					pathwayName: "选择窗帘开关",
					sensorName: "请选择要添加的设备", //传感器名字
					sensorType: "" //传感器的类别
				},
				methods: {
					setTypeVal: function(devType) {
						/*var domThis = e.currentTarget;
						this.devType = domThis.getAttribute('data-type');*/
						//alert(devType)
						this.devType = devType
					},
					selectedClass: function() {
						mui.openWindow({
							url: "devIcon.html"
						})
					},
					submitDevice: function() {
						var _self = this;
						if(!_self.devName) {
							mui.toast("请输入设备名称");
							return false;
						}
						account = JSON.parse(localStorage.getItem("account"));
						var timestamp = Date.parse(new Date());
						var message = createMessage(_self, account, timestamp);
						//var message = '#{"CMD":"add",DEV:"'+_self.devType+'","USERID":"' + account.currentID + '","TAG":"'+timestamp+'","TYPE":"' + os + '","ROOMNAME":"' + _self.roomName + '","DEVICENAME":"' + _self.devName + '","NICKNAME":"","DEVICESORT":"' + _self.devSort + '","ROOMPIC":"' + _self.className + '"}*';
						/*parameter.timestamp = timestamp;
						parameter.type = _self.devType;
						parameter.roomName = _self.roomName;
						parameter.devName = _self.devName;
						parameter.devSort = _self.devSort;
						parameter.className = _self.className;*/
						initWebsocket(timestamp, message, _self.devType);

					},
					curtainType: function() { //设置空调类型
						var _self = this;
						plus.nativeUI.actionSheet({
							title: "窗帘轨道选择",
							cancel: "取消",
							buttons: [{
								title: "单轨窗帘开关"
							}, {
								title: "双轨窗帘开关"
							}]
						}, function(e) {

							_self.pathway = e.index;
							if(_self.pathway == 1) {
								_self.pathwayName = "单轨窗帘开关";
								return false;
							}
							_self.pathwayName = "双轨窗帘开关";
						});
					},
					showPicketShow: function() {
						var _self = this;
						userPicker.show(function(items) {
							_self.$data.sensorType = items[0].value;
							_self.$data.sensorName = items[0].text;
							//返回 false 可以阻止选择框的关闭
							//return false;

						})
					}

				}
			})
		}
		/**
		 * @param {Object} vobj
		 * @param {Object} account 用户信息
		 * @param {Object} timestamp TAG 时间戳
		 */
		function createMessage(vobj, account, timestamp) {
			var message = devMessage[vobj.devType];
			switch(vobj.devType) {
				case "button":

					message.CMD = "add";
					message.DEV = "button";
					message.DEVICENAME = vobj.devName;
					message.TAG = timestamp.toString();
					message.ROOMNAME = vobj.roomName;
					message.USERID = account.currentID;
					message.DEVICESORT = vobj.devSort.toString();
					message.ROOMPIC = vobj.className;
					message.TYPE = os;

					break;
				case "switch":
					message.CMD = "add";
					message.DEV = "switch";
					message.DEVICENAME = vobj.devName;
					message.ROOMNAME = vobj.roomName;
					message.USERID = account.currentID;
					message.TYPE = os;
					message.TAG = timestamp.toString();
					break;
				case "trigger":
					message.CMD = "add";
					message.DEV = "trigger";
					message.DEVICENAME = vobj.devName;
					message.ROOMNAME = vobj.roomName;
					message.TAG = timestamp.toString();
					message.USERID = account.currentID;
					message.TYPE = os;
					message.IF = [];
					break;
				case "sensor":
					message.CMD = "add";
					message.DEV = vobj.sensorType;
					message.DEVICENAME = vobj.devName;
					message.ROOMNAME = vobj.roomName;
					message.USERID = account.currentID;
					message.TYPE = os;
					message.DEVICESORT = vobj.devSort.toString();
					message.TAG = timestamp.toString();

					break;
				default: 
					break;
			}
			//根据类型修改  头像 及要生成的按钮个数
			switch(vobj.addDevType) {
				case "light": //灯
					message.BUTTONNUM = '2';
					break;
				case "socket": //插座
					break;
				case "camera": //摄向头
					break;
				case "sensor": //红外线
					message = getSensorType(message, vobj.sensorType)
					break;
				case "curtain": //窗帘
					if(vobj.pathway == 1) {
						message.ROOMPIC = "curtain-" + vobj.pathway
						message.BUTTONNUM = '3'
					} else if(vobj.pathway == 2) {
						message.ROOMPIC = "curtain-" + vobj.pathway
						message.BUTTONNUM = '6'
					}
					break;
				case "air-condition": //空调 
					break;
				case "TV": //电视
					break;
				default:
					break;
			}

			return "#" + JSON.stringify(message) + "*"
		}

		/**
		 * 根据传感器的类型 设置头像,及按钮数
		 * @param {Object} msg
		 * @param {Object} type
		 */
		function getSensorType(msg, type) {
			switch (type){
				case "switch":
					msg.ROOMPIC = "sensor-switch"//开关
					msg.BUTTONNUM = "2"
					break;
				case "human":
					msg.ROOMPIC = 'sensor-human' //人体红外传感器
					msg.BUTTONNUM = "2"
					break;
				case "door":
					msg.ROOMPIC = 'sensor-door' //门磁传感器
					msg.BUTTONNUM = "2"
					break;
				case "smoke":
					msg.ROOMPIC = 'sensor-smoke' //烟雾传感器 
					msg.BUTTONNUM = "2"
					break;
				case "gas":
					msg.ROOMPIC = 'sensor-gas' //气体传感器
					msg.BUTTONNUM = "2"
					break;
				case "temp":
					msg.ROOMPIC = 'sensor-temp' //温度传感器
					msg.BUTTONNUM = "2"
					break;
				case "humidity":
					msg.ROOMPIC = 'sensor-humidity' //湿度传感器
					msg.BUTTONNUM = "2"
					break;
				case "lamp":
					msg.ROOMPIC = 'sensor-lamp' //灯泡（可调光） 
					msg.BUTTONNUM = "2"
					break;
				case "light":
					msg.ROOMPIC = 'sensor-light' //光强度传感器
					msg.BUTTONNUM = "2"
					break;
				case "infrared":
					msg.ROOMPIC = 'sensor-infrared' //红外转发
					msg.BUTTONNUM = "2"
					break;
				default:
					break;
			}
			return msg
		}
		//自定义事件  设置图标
		document.addEventListener("className", function(e) {
			addDevice.$data.className = e.detail.className;
			console.log(addDevice.$data.className)
		}, false);
		//自定义事件  设置房间名
		document.addEventListener("setRoomName", function(e) {
			mui.toast(e.detail.roomName)
			addDevice.$data.roomName = e.detail.roomName;
			addDevice.$data.devSort = e.detail.devSort;
		}, false);

		/**
		 * @param {Object} tag 事件来源
		 * @param {Object} msg 发送的信息
		 * @param {Object} type 设备类型
		 */
		function initWebsocket(tag, msg, type) {
			var ws = new WebSocket("ws://123.56.176.67:9010/ws");

			ws.onopen = function(e) {
				console.log("添加设备房间开启" + msg)
				plus.nativeUI.showWaiting("请稍后...");
				ws.send(msg)
			};
			ws.onmessage = function(e) {
				console.log(JSON.stringify(e.data))
				var data = dataDispose(e.data);
				if(data == CENTRT) {
					console.log("心跳")
					ws.send(data);
					return;
				}
				var regExp = new RegExp(tag);
				switch(true) {
					case regExp.test(data.TAG):
						plus.nativeUI.closeWaiting();
						console.log("添加设备后台返回数据: " + JSON.stringify(data))
						if(errorDispose(data)) {

							mui.toast("添加成功");
							mui.fire(opener, "addDeviceUpdata", {});
							setTimeout(function() {
								self.hide();
							}, 500)
						}

						ws.close();
						break;
					default:
						break;
				}

			};
			ws.onerror = function(e) {

			};
			ws.onclose = function(e) {

			}

		}

		var view = viewApi.view;
		(function($) {
			//处理view的后退与webview后退
			var oldBack = $.back;
			$.back = function() {
				if(viewApi.canBack()) { //如果view可以后退，则执行view的后退
					viewApi.back();
				} else { //执行webview后退
					oldBack();
				}
			};
			//监听页面切换事件方案1,通过view元素监听所有页面切换事件，目前提供pageBeforeShow|pageShow|pageBeforeBack|pageBack四种事件(before事件为动画开始前触发)
			//第一个参数为事件名称，第二个参数为事件回调，其中e.detail.page为当前页面的html对象
			view.addEventListener('pageBeforeShow', function(e) {
				//				console.log(e.detail.page.id + ' beforeShow');
			});
			view.addEventListener('pageShow', function(e) {
				//				console.log(e.detail.page.id + ' show');
			});
			view.addEventListener('pageBeforeBack', function(e) {
				//				console.log(e.detail.page.id + ' beforeBack');
			});
			view.addEventListener('pageBack', function(e) {
				//				console.log(e.detail.page.id + ' back');
			});
		})(mui);

		function initPicket() {
			//普通示例
			userPicker = new mui.PopPicker();
			userPicker.setData([{
				value: 'switch',
				text: '开关'
			}, {
				value: 'human',
				text: '人体红外传感器'
			}, {
				value: 'door',
				text: '门磁传感器'
			}, {
				value: 'smoke',
				text: '烟雾传感器'
			}, {
				value: 'gas',
				text: '气体传感器 '
			}/*, {
				value: 'temp',
				text: '温度传感器'
			}, {
				value: 'humidity',
				text: '湿度传感器'
			}, {
				value: 'lamp',
				text: '灯泡（可调光）'
			}, {
				value: 'light',
				text: '光强度传感器'
			}, {
				value: 'infrared',
				text: '红外转发  '
			}*/]);
		}
	</script>

</html>